* {
    font-family: Poppins;
    margin: 0px;
}

/* -------------------HEADER----------------------- */

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 1px 0px 0px #E5E5E5;
    position: fixed;
    width: 100%;
    background-color: white;
}

.search_container {
    width: 70%;
    background-color: #FFFFFF;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#barre {
    position: relative;
    height: 32px;
    background-color:#BCBCBC;
    border-radius: 5px;
    border: 0px;
    width: 60%;
}
.searchbar {
    height: 32px;
    background-color:#BCBCBC;
    border-radius: 5px;
    border: 0px;
    width: 100%;
}

#loupe {
    font-size: 16px;
    color: #627B87;
    position: absolute;
    right: 10px;
    top: 8px;
}
.burger {
    background-color: #FFE6CC;
    padding: 10px;
    border-radius: 20px;
    margin: 0px 20px 0px 20px;
}
#down_arrow {
    margin: 0px 35px 0px 5px;
}

/* -------------------Aside / nav----------------------- */

.aside_container {
   background: var(--neutral-20, rgba(1, 0, 57, 0.089));
   position: static;
   /* background-color: #8fa9b6;  */
   display: flex;
   flex-direction: column;
   width: 240px;
   height: 1400px;
   margin-top: 50px;
}

.nav_container {
    margin: 0px 0px 0px 24px;
}

.nav_menu {
    opacity: 0.5;
    color: #082431;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 40px 0px 24px 0px;
}

.nav_container p {
    color: #767D87;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}
.nav_container img {
    margin-right: 12px;
}
.nav_container i {
    font-size: 24px;
}
.arrow1{
    margin-left: 60px;;
}
.arrow2{
    margin-left: 20px;
}
.nav_title_container {
    background: rgba(80, 65, 120, 0.20);
    padding: 10px 20px;
    border-radius: 10px;
    width: 60%;
    margin: 0px 0px 20px 0px;
    display: flex;
    align-items: center;
}

.nav_title {
    font-size: 16px;
    font-weight: 500;
    margin-left: 4px;
}






/* -------------------Dashboard---------------------- */

.header_dashboard_container {
    margin-bottom: 22px;
    width: 100%;
}
.dashboard_title {
    margin-top: 100px;
}

.container_main{
    display: flex;
}
.dashboard_container{
    width: 100%;
    background: #F6F8FA;
}

.dashboard_container2{
    margin-left: 40px;
    margin-right: 33px;
}

.card_dashboard_container {
    display: flex;
    gap: 33px;
}




.card_dashboard {
    display: flex;
    align-items: center;
    margin-top: 31px;
    background-color: white;
    border-radius: 10px;
    width: 25%;
    padding: 25px 0px;

}

.card_dashboard img {
    margin-right: 18px;
    padding: 12px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 38px;
    color:white;
    margin-left: 21px;

}
.truck1 {
    background: linear-gradient(135deg, #504178 0%, #FF7B8A 100%);
}
.truck2 {
    background: linear-gradient(135deg, #42BA17 0%, #9FF182 100%);
}
.truck3 {
    background: linear-gradient(135deg, #5A6ACF 0%, #FF7B8A 100%);
}
.truck4 {
    background: linear-gradient(135deg, #D32136 0%, #FF7B8A 100%);
}



.section_container { 
    background-color: #FFFFFF;
}

.section_title {
    margin-left: 25px;
}

.stat_and_custom_container{
    display: flex;
}

